<html>
    <head>
        <title>Stiock Graph Visualizer Homepage</title>

        <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
    </head>

    <body>
        <div class="title-div"> 
            <h1 class="title-h1">STONKS</h1>
            <h2 class="signature-h2">By: Evan Robinson and Donald Arango</h2>
        </div>


        <a href="{{ url_for('visualizer') }}"> 
            <button class="stonks-button" type="submit">
                Stocks Visualizer
            </button>
        </a>
            
        
    </body>
</html>