<html>
    <head>

        <title>Stock Graph Visualizer</title>

        <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">

    </head>

    <body class="stocks-body">

        <div class="graph-div">
            {% include 'mygraph.html' %}
        </div>


        <h2 class="title-h2"> STONKS </h2>

        <div class="side-menu-div">   
            <h2 class="ticker-h2"> Stock Ticker </h2>
                <form class="input-div" method="POST">
                    <input class="ticker-text-input" type="text" id="ticker" name="ticker" placeholder="e.g. 'AAPL'">
                    <h5>Sort By: </h5>

                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="pe" checked> P/E Ratio
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="market_cap"> Market Cap
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="price"> Price
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="employees"> Employees
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="volume"> Volume
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="eps"> EPS
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="revenue"> Revenue
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="profit"> Profit
                    </label>

                    <br>
                    <input class="ticker-submit-input" type="submit" value="Submit">
                    
                  </form>
            
            <!-- ADD IF TICKER STATEMENTS :: DISPLAY INFO -->
            <div class="info-div">
                <h2 class="info-h2"> {{ ticker }} Info: </h2>
                    <h3 class="info-h3"> Price: {{ price }}</h3>
                    <h3 class="info-h3"> P/E: {{ pe }}</h3>
                    <h3 class="info-h3"> Volume: {{ volume }}</h3>
                    <h3 class="info-h3"> Market Cap: {{ mCap }}</h3>
                    <h3 class="info-h3"> More? </h3>
                    

            </div>
        </div>
    
    </body>
</html>