<html>
    <head>

        <title>Stock Graph Visualizer</title>

        <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">

    </head>

    <body class="stocks-body">

        <div class="graph-div">
            {% include 'mygraph.html' %}
        </div>


        <h2 class="title-h2"> STONKS </h2>

        <div class="side-menu-div">   
            <h2 class="ticker-h2"> Stock Ticker </h2>
                <form class="input-div" method="POST">
                    <input class="ticker-text-input" type="text" id="ticker" name="ticker" placeholder="e.g. 'AAPL'">
                    <h5>Sort By: </h5>

                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="pe" value="pe" checked> P/E Ratio
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="market_cap" value="market_cap"> Market Cap
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="price" value="price"> Price
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="employees" value="employees"> Employees
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="volume" value="volume"> Volume
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="eps" value="eps"> EPS
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="revenue" value="revenue"> Revenue
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" id="profit" value="profit">  Profit
                    </label>

                    <br>
                    <input class="ticker-submit-input" type="submit" value="Submit">
                    
                  </form>
            
            <!-- ADD IF TICKER STATEMENTS :: DISPLAY INFO -->
            {% if ticker %}
                <div class="info-div">
                    <h2 class="info-h2"> {{ ticker }} Info: </h2>
                        <h5 class="info-h5"> Sector: {{ sector }}</h5>
                        <h5 class="info-h5"> Price: {{ price }}</h5>
                        <h5 class="info-h5"> P/E Ratio: {{ pe }}</h5>
                        <h5 class="info-h5"> Volume: {{ volume }}</h5>
                        <h5 class="info-h5"> Employees: {{ employees }}</h5>
                        <h5 class="info-h5"> EPS: {{ eps }}</h5>
                        <h5 class="info-h5"> Revenue: {{ revenue }}</h5>
                        <h5 class="info-h5"> Growth: {{ growth }}</h5>
                        <h5 class="info-h5"> Profit: {{ profit }}</h5>
                        <details>
                            <summary>BFS List</summary>
                            <span> {{ bfsTime }} 
                                {{ bfs }}</span>
                        </details>
                        <details>
                            <summary>DFS List</summary>
                            <span> {{ dfsTime }} {{ dfs }}</span>
                        </details>
            {% endif %}

                    
            </div>
        </div>
    
    </body>
</html>